/**
 * Stylesheet for web preview of 'Execute SPARQL Query' output
 * 
 * @author Peter Geil
 */
#tm_webpreview_content {
  margin: 28px 0 0 0 !important;
  counter-reset: qry-section; }

.query-section {
  background-color: #fff;
  margin-bottom: 25px; }
  .query-section:before {
    counter-increment: qry-section;
    content: counter(qry-section);
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-size: 78px;
    position: absolute;
    margin-top: 59px;
    right: 15px;
    color: rgba(0, 0, 0, 0.1);
    z-index: 999;
    pointer-events: none;
    -webkit-user-select: none; }
  .query-section .result {
    margin: 0 75px 0 14px; }
    .query-section .result table {
      border-color: #bbb;
      border-style: solid;
      border-width: 0 0 1px 0; }
      .query-section .result table tr:first-child {
        background-color: #ccc;
        color: #777;
        border: none; }
        .query-section .result table tr:first-child th {
          padding: 3px;
          font-family: "Helvetica Neue";
          font-weight: 200;
          font-size: 17px;
          line-height: 1.4;
          color: #777;
          text-align: center;
          text-rendering: geometricPrecision;
          letter-spacing: 1px;
          border: 1px solid #ccc; }
      .query-section .result table tr {
        border-bottom-color: #ddd; }
        .query-section .result table tr:not(:first-child):hover {
          background-color: #efefef; }
        .query-section .result table tr td {
          padding: 2px 10px 3px 10px; }
  .query-section .header {
    font-family: "Lucida Grande"; }
    .query-section .header .code {
      font-weight: bold;
      font-size: 21px;
      float: left;
      margin: 0 20px 0 0;
      padding: 10px 0 10px 15px; }
    .query-section .header .message {
      margin: 0 20px 0 0;
      padding: 15px 0 0 15px;
      line-height: 1.1;
      color: #ddd; }
    .query-section .header .clear {
      clear: both;
      display: block;
      content: " ";
      width: 1px;
      height: 1px; }
    .query-section .header.success {
      background-color: #009262;
      color: #ffffff; }
    .query-section .header.error {
      background-color: #cc4444;
      color: #ffffff; }
  .query-section .query-log {
    margin: 0 0 12px 0;
    background-color: #ffffcc; }
    .query-section .query-log .result {
      padding-bottom: 7px; }
      .query-section .query-log .result pre {
        line-height: 0.6em;
        background-color: #fff;
        padding: 11px;
        border-left: 5px solid #ddd;
        tab-size: 2;
        -webkit-tab-size: 2; }
    .query-section .query-log .toggler {
      text-align: right;
      background-color: #ffffcc; }
      .query-section .query-log .toggler a {
        display: inline-block;
        padding: 4px 11px 6px 11px;
        border-bottom-left-radius: 6px; }
