<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>choyvp@crgretrvy.anzr</string>
	<key>contactName</key>
	<string>Peter Geil</string>
	<key>description</key>
	<string>Totally awesome bundle for Turtle – the terse RDF Triple Language.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>5B3DDC52-4AF7-45E5-AC26-837BF81208FE</string>
			<string>533BE8C9-42EF-48EF-A1FC-5E831DC46059</string>
			<string>57E5DA96-6449-43DA-84FB-C3493D13FA5B</string>
			<string>EB08FE12-95D5-42DA-80DE-2B8E1D18B009</string>
			<string>84B88EA7-7B67-4DC6-9014-76B52BF60CA7</string>
			<string>------------------------------------</string>
			<string>14F0FEA7-EE05-4445-8C09-A5E3CF3F0C46</string>
			<string>------------------------------------</string>
			<string>EF6E5E32-54FD-4AE1-B35E-CC16DFE18D13</string>
			<string>------------------------------------</string>
			<string>C2509D61-BA70-4202-AD5A-9307266295C5</string>
			<string>2D08ACD4-99AF-46C6-B62A-FEE1CCB5A278</string>
			<string>------------------------------------</string>
			<string>72E360B7-71C7-4E4C-B78A-A106FB618FF2</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>14F0FEA7-EE05-4445-8C09-A5E3CF3F0C46</key>
			<dict>
				<key>items</key>
				<array>
					<string>8AEC30D0-7C48-435E-A9DB-B5BB3C550905</string>
					<string>------------------------------------</string>
					<string>A436E557-CB60-4F4E-8EAA-BE129339E5BA</string>
					<string>------------------------------------</string>
					<string>5556B1D0-1E0F-4299-B8F3-15C7C843B61D</string>
					<string>7EECA379-154D-49A2-9863-BB8F262ADA9F</string>
				</array>
				<key>name</key>
				<string>Insert Snippets</string>
			</dict>
			<key>8AEC30D0-7C48-435E-A9DB-B5BB3C550905</key>
			<dict>
				<key>items</key>
				<array>
					<string>D7346290-2C45-4D52-BD1B-7DE7744A404E</string>
				</array>
				<key>name</key>
				<string>Prefix directives</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Turtle</string>
	<key>uuid</key>
	<string>A340B95F-EF97-4A2C-AFF2-2EA197837BD0</string>
</dict>
</plist>
